$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 970px;
$extra-large-screen: 1200px;

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body{
  width: 100%;
  text-align: center;
  font-family: Lato;
  img{
    width: 47%;
  }
  // #mc_embed_signup_scroll{
  // label {
  //   font-weight: 200;
  //   font-size: 2em;
  //   letter-spacing: 2;
  // }
  h3{
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 2;
  }
  input{
    width: 23%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    @media screen and (max-width: $small-screen){
      width: 100%;
    }
    @media screen and (min-width: $small-screen + 1) and (max-width: $medium-screen ){
      width: 70%;
    }
  }
  button{
    cursor: pointer;
    padding: 12px 20px;
    color: white;
    font-weight: 200;
    border: none;
    width: 15%;
    background-color: #23455d;
    font-size: .8em;
    text-transform: uppercase;
    &:hover{
      background-color: #23455f;
    }
    @media screen and (max-width: $small-screen){
        width: 70%;
      }
      @media screen and (min-width: $small-screen + 1) and (max-width: $medium-screen ){
        width: 30%;
      }
  }
}
